@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 20px;
    background-color: #cfdddd;
}

#tittle {
    color: #c71884;
    font-size: 40px;
}

.paragraph {
    color: black;
    border: 2px dashed blue;
    padding: 20px;
}

#hello1 {
    margin-top: 200px;
    margin: 200px 40px 200px 40px;
}